.home_inner {
    margin-top: 140px;
    display: flex;
}
/* LEFT SIDE */
.home_info {
    width: 60%;
}
.home_title {
    font-size: 72px;
    font-weight: 700;

    color: #0A083A;
}
.home_text {
    max-width: 430px;
    
    font-size: 20px;
    font-weight: 500;
    line-height: 32px;

    margin: 50px 0;

    color: #6C6B6B;
}
.home_buttons {
    display: flex;
    align-items: center;

    margin-bottom: 80px;
}
.home_buttons button {
    color: #ffffff;
    font-size: 16px;
    font-weight: 500;

    cursor: pointer;

    padding: 12px 50px;
    border: none;
    border-radius: 4px;
    background: #FF3C78;
    
    margin-right: 50px;
}
.button_favorite--active {
    cursor: pointer;
}
.home_benefites {
    display: flex;
}
.free_shipping {
    display: flex;
    align-items: center;

    margin-right: 50px;
}
.free_shipping img {
    margin-right: 15px;
}
.free_returns {
    display: flex;
    align-items: center;
}
.free_returns img {
    margin-right: 15px;
}

/*  RIGHT SIDE   */
.home_sneaker {
    width: 40%;
}
/* SNEAKER PHOTO */
.sneaker_photo {
    position: relative;
}
.bgcimg {
    position: absolute;
    left: 0;
    top: -80px;
    z-index: 1;

    height: 568px;
    width: 505px;
}
.sneaker {
    position: absolute;
    left: -50px;
    top: -120px;
    z-index: 2;

    height: 550px;
    width: 555px;
}
.locker--notactive {
    position: absolute;
    left: 90px;
    top: 220px;
    z-index: 4;

    border: none;
    background: none;

    cursor: pointer;
}
.coment {
    position: absolute;
    left: -170px;
    top: 230px;
    z-index: 3;

}
/* SNEAKER SLIDER */
.sneaker_sliedr {
    display: flex;
    padding-top: 500px;
    padding-left: 40px;
}
.sneaker_sliedr button {
    cursor: pointer;
    border: none;
    background: none;
}
.sneaker_left {
    margin-right: 10px;
}